{{> header }}
<div class="container">
  <div class="row">
      <div class="col s12">
        <h1 class="header center">{{city.label}}</h1>
        <p class="center">Vous voulez compléter cette page, ajouter des liens ? Venez sur le <a href="http://chat.nuitdebout.fr">chat</a>.</p>
        <h3 class="header">Liens</h2>
        <div class="collection">
          {{#each city.links}}
            <a href="{{this}}" class="collection-item">{{this}}</a>
          {{/each}}
        </div>
        <h3 class="header">Wiki</h2>
        <p>Pour collecter les informations et la mémoire, venez sur le Wiki.</p>
        <div class="collection">
          <a href="{{city.wiki_url}}" class="collection-item">{{city.wiki_url}}</a>
        </div>
      </div>
  </div>
</div>
{{> footer }}